
body {
   background-color: aquamarine;
}

head {
   background-color: aquamarine;
}

.circle {
   
   height: 50px;
   width: 50px;
   background-color:blueviolet;
   border-radius: 50%;
   
}

.square {
   height: 50px;
   width: 50px;
   background-color: brown;

}

.triangle {
   width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(43, 43, 43);
}